# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/

# Conda
.conda/

# IDEs
.vscode/
.idea/

# Data
data/
vectorstore/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/